Package: com.gsquared.driveout
Name: DriveOut
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Sign Out of Google Drive Automatically!
Maintainer: GSquared
Author: GSquared
Section: Tweaks
